{% extends 'base.html.twig' %}

{% block title %}NLshop - Account{% endblock %}

{% block content %}
<h1>My Account</h1>
Welcome {{ app.user.firstname }} to your account
<hr/>
- <a href="{{path('account_password')}}">Change password</a>
- <a href="{{path('account_address')}}">Update shipment address</a>
-List orders
<hr/>
{% endblock %}
