{% extends 'base.html.twig' %}



{% block content %}
<h1>Change your password</h1>
<a href="{{path('account')}}">Return to your account</a>
<hr>
{% if notification %}
    <div class="alert alert-{{alertType}}">{{notification}}</div>
{% endif %}
{{form(form)}}
<hr>
{% endblock %}